<% content_for :title, "ACKS" %>

<h1>Strict Records</h1>

<p>Random generator tools for the Adventurer Conqueror King System.</p>
<blockquote>YOU CAN NOT HAVE A MEANINGFUL CAMPAIGN IF STRICT TIME RECORDS ARE NOT KEPT.</blockquote>
<p>-Gary Gygax, Dungeon Master’s Guide (page 37)</p>
