<nav class="navbar">
  <div class="navbar-inner">
    <%= link_to "Strict Records", root_path, class: "navbar-brand" %>
    <div class="navbar-links">
      <%= link_to "Characters", characters_path %>
      <%= link_to "Magic Items", generate_magic_items_path %>
    </div>
  </div>
</nav>
